*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea/deploymentTargetSelector.xml
/.idea
/app/release
.idea/deploymentTargetSelector.xml
/temp
*.keystore
app/src/main/jnilibs/armeabi-v7a/libmsnp11_sdk.so
app/src/main/jnilibs/arm64-v8a/libmsnp11_sdk.so
app/src/main/jnilibs/x86/libmsnp11_sdk.so
app/src/main/jnilibs/x86_64/libmsnp11_sdk.so
